---
import { SITE } from 'astrowind:config';
import logoIcon from '~/assets/images/logo-icon.svg';
---

<span class="flex items-center font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <img src={logoIcon.src} alt={`${SITE?.name} logo`} width={32} height={32} class="h-8 w-8" loading="eager" />
  <span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl">{SITE?.name}</span>
</span>
